*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.row {
    background-color: white;
    border-radius: 100px;
    box-shadow: 12px 12px 27px;    
    width: auto;
    height: 37.5rem;

}

img{
    width: 120%;
    height: 37.5rem;
    border-top-right-radius: 350px;
    border-bottom-left-radius: 350px;
}

/* .login img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
} */

.login h1{
    font-size: 4rem;
    font-weight: 300;
}

.inp{
    height: 50px;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 60px;
    box-shadow: -26px -19px 30px -19px rgba(10, 8, 8, 0.35);
    -webkit-box-shadow: -26px -19px 30px -19px rgba(0,0,0,0.35);
    -moz-box-shadow: -26px -19px 30px -19px rgba(0,0,0,0.35);
}
/* hovering of button */
.btn1{
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    background-color:rgb(203, 199, 171);
}
.btn1:hover{
    background-color: honeydew;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.btn1{
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.btn1::before{
    content: "";
    background: linear-gradient(45deg,#ff0000,#ff7300,#fffb00,#48ff00,#00ffd5,
    #002bff,#7a00ff,#ff00c8,#ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4Px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}
.btn1:hover::before{
    opacity: 1;
}
.btn1::after{
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}
/* hovering of button end */
.fa-facebook{
    padding: 10px;
    font-size: 30px;
}
.fa-facebook:hover{
    color: blue;
}
.fa-instagram{
    padding: 10px;
    font-size: 30px;
}
.fa-instagram:hover{
    color: rgb(243, 17, 255);
}.fa-linkedin{
    padding: 10px;
    font-size: 30px;
}
.fa-linkedin:hover{
    color: rgb(76, 76, 225);
}
/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.row{
    
    background-color: rgb(241, 134, 134);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    box-shadow: 12px 12px 12px;
    width: auto;
    height: 37rem;
}
img{
    width: 120%;
    height: 37rem;
    border-bottom-left-radius: 232px;
    border-top-right-radius:429px;
}
.login h1{
    font-size: 4rem;
    font-weight: 300;
}
.inp{
    height: 50px;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;

    box-shadow: 2px 5px 2px 5px rgba(0, 0, 0, 0.35);
}
.btn1{
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    background-color:rgb(203, 199, 171);
}
.btn1:hover{
    background-color: honeydew;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.btn1{
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.btn1::before{
    content: "";
    background: linear-gradient(45deg,#ff0000,#ff7300,#fffb00,#48ff00,#00ffd5,
    #002bff,#7a00ff,#ff00c8,#ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4Px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}
.btn1:hover::before{
    opacity: 1;
}
.btn1::after{
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

.fa-facebook{
    padding: 10px;
    font-size: 30px;
}
.fa-facebook:hover{
    color: blue;
}
.fa-instagram{
    padding: 10px;
    font-size: 30px;
}
.fa-instagram:hover{
    color: rgb(243, 17, 255);
}.fa-linkedin{
    padding: 10px;
    font-size: 30px;
}
.fa-linkedin:hover{
    color: rgb(76, 76, 225);
}*/

